<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/main.css">
    <title>Blog Space</title>
</head>
<body>
    <header>
        <a id="logo" href="/"><img src="/logo.png" alt=""></a>
        <h1>Welcome to your Blog Space!!!</h1>
        <a id="create-post-btn" href="/createblog">Create+</a>
    </header>
    <main>
        <ul id="blog-list">
            <% if (locals.bloglist) { %>
                <% bloglist.forEach(blog => { %>
                    <li>
                        <a href="<%= blog.link %>">
                            <img src="./blogging.png" width="180px" alt="">
                            <h2 class="blog-title"><%= blog.title %></h2>
                        </a>
                    </li>
                <% }) %>
            <% } %>
        </ul>
    </main>
</body>
</html>